<!DOCTYPE HTML>

<html>
	<head>
		<title>Sourabh Singh | Software Engineer</title>

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="title" property="og:title" content="Sourabh Singh's Portfolio" />
		<meta name="description" property="og:description" content="Sourabh Singh's AI Powered Portfolio" />
		<meta name="image" property="og:image" content="../static/images/thumbnail.jpg" />

		<meta property="og:title" content="Sourabh Singh's Portfolio">
		<meta property="og:description" content="Sourabh Singh's AI Powered Portfolio">
		<meta property="og:image" content="../static/images/thumbnail.jpg">

		<meta name="author" content="Sourabh Singh" />
		<meta property="og:url" content="https://souravyuvrajj.github.io/" />

		<link rel="stylesheet" href="../static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>

	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">


				<!-- Header -->
					<header id="header">
						<div class="logo">
							<a href='https://www.linkedin.com/in/souravyuvrajj/' class="icon brands fa-linkedin" target="_blank" id='logo_header'></a>
						</div>

						<div class="content">
							<div class="inner">

								<h1>Sourabh Singh</h1>
								<p><strong><i>A Highly-motivated Software Engineer who is currently into Blockchain.</i></strong></p>

								<!-- Currently only supports Web version for AI personal assistant, because of the precision issue (16 vs 32 bit) using WebGL backend and CPU backend is too slow.  -->
								<input autocomplete="off" type="text" placeholder="What is his current job" id="myInput" />
								<div id="first_assistant_desc"><i>Hi, I am Sourabh' personal AI assistant. Please ask me anything about him with a complete sentence (e.g: "Where does he live now" not "location"), and I'll try my best to answer your queries :)</i></div>
								<div class="lds-ellipsis" id="loading_dots"><div></div><div></div><div></div><div></div></div>
								<strong><div id="output"></div></strong>

							</div>

						</div>
						<nav>
							<ul>
								<li><a href="#intro">Intro</a></li>
								<li><a href="#resume">Resume</a></li>
								<li><a href="#projects">Projects</a></li>
								<li><a href="#blog">Blog</a></li>
								<!-- <li><a href="#feed">Speakership</a></li> -->
								<li><a href="#contact">Contact</a></li>
								<!-- <li><a href="#elements">Elements</a></li> -->
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<!-- Intro -->
						<article id="intro">
							<h1 class="major">Intro</h1>
							<h3>Three words for Sourabh: <strong>strong-willed, fast-learner, effective</strong>.</h3>
							<span class="image main">
								<!-- <source data-srcset="images/intro_photo.webp" type="image/webp"> -->
								<img data-src="images/IMG_0254.JPG"  class=" lazyloaded" src="images/IMG_0254.JPG">
							</span>

							<p style="text-align:justify">


								I am strong-willed, fast-learner, and effective Developer who is always hungry for new knowledge.
								Currently, I am part of the cloud backend data team at  <b><i><a href="https://research.samsung.com/sri-d" target="_blank">Samsung R&D</a></i></b>,
								where I strive to deliver quality results. My background in Computer Science, which I studied at one of the top universities in India,
								<i><a href="https://www.iiitg.ac.in" target="_blank"> Indian Institute of Information Technology, Guwahati</a></i>, has equipped me with the skills necessary to excel in this field.
								I approach each project with a focus on delivering value and continuously improving my abilities.
								<br /><br />

								Please see the <a href="https://souravyuvrajj.github.io#resume",target="_blank">Resume</a> section for more information about his experiences.

								<!-- <span class="image main">
									<source data-srcset="images/my_journey.webp" type="image/webp">
									<img data-src="images/my_journey.PNG" class="lazyload" alt="my journey image">
								</span> -->

								<!-- <h2>What they said about sourabh</h2>

								Working in the same team with sourabh is awesome and memorable, as stated by his colleagues.
								
								<span class="image main">
									<source data-srcset="images/recommendations.webp" type="image/webp">
									<img data-src="images/recommendations.PNG" class="lazyload" alt="recommendations image">
								</span> -->

								<h2>A Life Outside of Work</h2>

								I loves to spent my spare time doing my hobbies: 
								<i>Playing Dota, Watching anime, <a href="#projects" style="color:powderblue;">conducting side-projects</a>, and <a href="#blog" style="color:powderblue;">writing articles</a></i>.
								<br></br>

								Finally, I loves to meet new friends! 
								So, please feel free to reach him out if you have any topics to be discussed.
							</p>
							
							<ul class="actions special" text-align="center">
								<li><a href="https://www.linkedin.com/in/souravyuvrajj/" class="primary button" target="_blank">Say Hi to Sourabh</a></li>
							</ul>
						</article>

						<!-- Resume -->
							<article id="resume">

								<ul class="actions special">
									<li><a href="https://drive.google.com/file/d/1b1AcRnUiWDLeqNFSCyUHKX8QdPFcLIt_/view?usp=share_link" class="button icon solid fa-download" target="_blank">Download Full Resume</a></li>
								</ul>

								<!-- <h1 class="major">resume</h1> -->

								<u><h1 class="minor">Skills</h1></u>
								<p>Googling, Python, Git, AWS cloud platform, Pytorch, SQL, Docker, Java, Spring Boot, Hibernate, Spring batch, Redis, Spring cloud, REST APIs, Spring Cloud,
									Mysql, Kibana, ElasticSearch, Junit, JIRA </p>
								

								<u><h1 class="minor">Working Experience</h1></u>
								
								<h3 class="minor">Software Developer - Samsung R&D</h3>
								<p> Dec 2020 - Present </p>
								<ul>
								<h4>	Batch Processing [Tech used: spring batch, Mysql]</h4>
								<li>Improved a Spring Batch based event-driven batch processing pipeline to handle structured CSV data, achieving a
									throughput of 3.75 million records per hour with a minimal error rate of 0.1%.</li>
								<li> Utilized efficient data modeling techniques and indexing strategies to optimize data storage in MySQL.</li>
								<li> Additionally, deployed retry logic for improved fault tolerance, also integrated data validation ensure quality check prior to storage in the database.</li>
								<br>
								<h4> Development and Data Optimization with Caching [Tech used: spring Boot, spring cloud, redis]</h4>
								<li> Developed and maintained multiple RESTful APIs, handling 20M API hits daily, optimized data exchange and processing for client-server communication.</li>
								<li> Implemented caching strategy to improve data retrieval performance and increased server query response time by 23x.</li>
								<br>
								<h4>Monitoring and Testing [Tech used: Zipkin, Spring Cloud Sleuth, Elasticsearch, Logstash, Kibana]</h4>
								<li>Integrated distributed tracing across all components, driving improved debugging capabilities and allowing 20% faster identification of root cause problems.</li>
								<li>Successfully increased code coverage by 55% through the implementation of unit testing and integration testing using JUnit and Mockito.</li>
								<br>
								<h4>Fault Tolerance and Resilience Optimization [Tech used: resilience4j]</h4>
								<li>Integrated circuit breaker and retry design patterns using resilience4j, resulting in a reduction of system outages by 70%.</li>
								<li>Applied bulkhead pattern to isolate critical resources and prevent cascading failures.</li>
								<br>
								<h4>AWS Integration [Tech used: AWS]</h4>
								<li>Utilized AWS Lambda for serverless compute and triggered Lambda functions using S3 and SQS events for cost-effective and event-driven computing.</li>
								<li>Integrated CloudWatch Alarms and dashboards for monitoring and alerting of the services.</li>
								<li>Configured SQS to achieve fault tolerance with dead-letter queues & integrated retry strategies, yielding a 28% reduction of errors reported.</li>
								</ul>

								<h3 class="minor">Backend intern - Social Tickle LLP</h3>
								<p> May 2019 - Jul 2019 </p>
								<ul>
									<li>Developed automated alert notifications by filtering CloudWatch logs and utilizing SNS service notifications to
										reduce response time by 2 hours.</li>
									<li>Implemented a data pipeline to visualise CloudWatch logs in Kibana, reducing the time needed to troubleshoot by
										50%.</li>
								</ul>

								<u><h1 class="minor">Education</h1></u>
								<h3 class="minor">Indian Institute of Information Technology, Guwahati, India</h3>
								<p>B.Tech in Computer Science and Engineering | CGPA - 7.46</p>



								<u><h1 class="minor">Achivements and Awards</h1></u>
								<li>Awarded with <b>Employee of the Quarter - Q1, 2021</b> for notable contributions at Cloud Data Group at SRI-Delhi.</li>
								<li>Runners up at Contest <b>Ideas for Future - 2021</b> held at SRI-Delhi out of 5000+ employee.</li>
								<li>Secured overall 5th rank in india on Cloud Computing conducted by NPTEL.</li>
								<li>secured 192 rank Globally in May Challeng Division 2 held by codechef.</li>
								</ul>

								<ul class="actions fit">
									<li><a href="https://drive.google.com/file/d/1b1AcRnUiWDLeqNFSCyUHKX8QdPFcLIt_/view?usp=share_link" class="primary button icon solid fa-download" target="_blank">Download Full Resume</a></li>
								</ul>

							</article>

						<!-- Projects -->
							<article id="projects">
								<h1 class="major">projects</h1>


								<h2 class="minor">appu</h2>

								<span class="image main">
									<img data-src="images/appuz.png" width="50" height="400" class=" lazyloaded" alt="personal_ai_assistant" src="images/appuz.png">
									</a>
								</span>
								<ul class="actions">
									<!-- <li><a href="https://towardsdatascience.com/real-time-visualization-of-google-form-responses-in-streamlit-1e7fd20c6574" class="button" target="_blank">Article</a></li> -->
									<li><a href="https://github.com/souravyuvrajj/appu" class="button" target="_blank">Repository</a></li>
								</ul>
								<ul>
									<li>Developed a command-line application that integrates with the Zomato API to display the menu of local restaurants in a user-friendly format.</li>
									<!-- <li>Featured in Towards Data Science</li>
									<li>280+ claps from the Medium reader</li> -->
									<!-- <li>130+ supports from the <a href="https://www.linkedin.com/posts/sourabhsingh_datascience-dataanalytics-towardsdatascience-activity-6702754127346315264-CcIQ" style="color:powderblue;" target="_blank">LinkedIn Community</a></li> -->
								</ul>

								<h2 class="minor">Autopilot - A Self-driving Car Simulation</h2>

									<span class="image main">
										<img data-src="images/autopilot.jpg" width="50" height="400" class=" lazyloaded" alt="personal_ai_assistant" src="images/autopilot.jpg">
										</a>
									</span>
									<ul class="actions">
										<li><a href="https://github.com/souravyuvrajj/Autopilot" class="button" target="_blank">Repository</a></li>
									</ul>
									<ul>
										<li>The End to End Learning for Self-Driving Cars which uses convnets to
predict steering angle according to the road. </li>
										</ul>

								<h2 class="minor">Project-RAFC</h2>

								<span class="image main">
									<img data-src="images/rafc.png" width="50" height="400" class=" lazyloaded" alt="personal_ai_assistant" src="images/rafc.png">
									</a>
								</span>
								<ul class="actions">
									<li><a href="https://github.com/souravyuvrajj/project-RAFC" class="button" target="_blank">Repository</a></li>
								</ul>
								<ul>
									<li>Automating College Registration, Feedback, and Attendance </li>
									</ul>

									

							</article>
						

						<!-- Blog -->
						<article id="blog">
							<h1 class="major">Blog</h1>

							<!-- <h2 class="minor"><a href="https://towardsdatascience.com/introducing-ai-powered-portfolio-4ac820fbcfeb" target="_blank">Introducing AI-Powered Portfolio</a></h2>
							<span class="image main">
								<a href="https://towardsdatascience.com/introducing-ai-powered-portfolio-4ac820fbcfeb" target="_blank">
								<source data-srcset="images/personal_ai_assistant.webp" type="image/webp">
								<img data-src="images/personal_ai_assistant.jpg" class="lazyload" alt="personal_ai_assistant">
								</a>
							</span>
							<ul>
								<li>In this article, sourabh gives a detailed step-by-step tutorial on how to build a personal AI assistant.</li>
								<li>150+ claps from the Medium reader</a></li>
								<li>130+ supports from the <a href="https://www.linkedin.com/posts/sourabhsingh_introducing-ai-powered-portfolio-activity-6721618467851661312-zHqX" style="color:powderblue;" target="_blank">LinkedIn Community</a></li>
							</ul>

							<ul class="actions fit">
								<li><a href="https://medium.com/@sourabhsingh6" class="primary button" target="_blank">Follow sourabh in Medium</a></li>
							</ul> -->
						</article>


						<!-- Contact -->
							<article id="contact">
								<section>
									<h2>Feel Free to Reach Sourabh Out!</h2>
									<br>
									<ul class="contact">
										<span>Noida, india</span>
										<h3 class="minor">Address</h3>

										<span>souravyuvrajj@gmail.com</span>
										<h3 class="minor">Email</h3>

										<span><a href="https://www.linkedin.com/in/souravyuvrajj/" style="color:powderblue;" target="_blank">https://www.linkedin.com/in/souravyuvrajj/</a></span>
										<h3 class="minor">LinkedIn</h3>

									</ul>
								</section>
							</article>


						<!-- Elements -->
							<article id="elements">
								<h1 class="major">Elements</h1>

								<section>
									<h3 class="major">Text</h3>
									<p>This is <b>bold</b> and this is <strong>strong</strong>. This is <i>italic</i> and this is <em>emphasized</em>.
									This is <sup>superscript</sup> text and this is <sub>subscript</sub> text.
									This is <u>underlined</u> and this is code: <code>for (;;) { ... }</code>. Finally, <a href="#">this is a link</a>.</p>
									<hr />
									<h2>Heading Level 2</h2>
									<h3>Heading Level 3</h3>
									<h4>Heading Level 4</h4>
									<h5>Heading Level 5</h5>
									<h6>Heading Level 6</h6>
									<hr />
									<h4>Blockquote</h4>
									<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
									<h4>Preformatted</h4>
									<pre><code>i = 0;

while (!deck.isInOrder()) {
    print 'Iteration ' + i;
    deck.shuffle();
    i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
								</section>

								<section>
									<h3 class="major">Lists</h3>

									<h4>Unordered</h4>
									<ul>
										<li>Dolor pulvinar etiam.</li>
										<li>Sagittis adipiscing.</li>
										<li>Felis enim feugiat.</li>
									</ul>

									<h4>Alternate</h4>
									<ul class="alt">
										<li>Dolor pulvinar etiam.</li>
										<li>Sagittis adipiscing.</li>
										<li>Felis enim feugiat.</li>
									</ul>

									<h4>Ordered</h4>
									<ol>
										<li>Dolor pulvinar etiam.</li>
										<li>Etiam vel felis viverra.</li>
										<li>Felis enim feugiat.</li>
										<li>Dolor pulvinar etiam.</li>
										<li>Etiam vel felis lorem.</li>
										<li>Felis enim et feugiat.</li>
									</ol>
									<h4>Icons</h4>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
									</ul>

									<h4>Actions</h4>
									<ul class="actions">
										<li><a href="#" class="button primary">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions stacked">
										<li><a href="#" class="button primary">Default</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
								</section>

								<section>
									<h3 class="major">Table</h3>
									<h4>Default</h4>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Item One</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Two</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Three</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Four</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Five</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>

									<h4>Alternate</h4>
									<div class="table-wrapper">
										<table class="alt">
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Price</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Item One</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Two</td>
													<td>Vis ac commodo adipiscing arcu aliquet.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Three</td>
													<td> Morbi faucibus arcu accumsan lorem.</td>
													<td>29.99</td>
												</tr>
												<tr>
													<td>Item Four</td>
													<td>Vitae integer tempus condimentum.</td>
													<td>19.99</td>
												</tr>
												<tr>
													<td>Item Five</td>
													<td>Ante turpis integer aliquet porttitor.</td>
													<td>29.99</td>
												</tr>
											</tbody>
											<tfoot>
												<tr>
													<td colspan="2"></td>
													<td>100.00</td>
												</tr>
											</tfoot>
										</table>
									</div>
								</section>

								<section>
									<h3 class="major">Buttons</h3>
									<ul class="actions">
										<li><a href="#" class="button primary">Primary</a></li>
										<li><a href="#" class="button">Default</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button">Default</a></li>
										<li><a href="#" class="button small">Small</a></li>
									</ul>
									<ul class="actions">
										<li><a href="#" class="button primary icon solid fa-download">Icon</a></li>
										<li><a href="#" class="button icon solid fa-download">Icon</a></li>
									</ul>
									<ul class="actions">
										<li><span class="button primary disabled">Disabled</span></li>
										<li><span class="button disabled">Disabled</span></li>
									</ul>
								</section>

								<section>
									<h3 class="major">Form</h3>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<label for="demo-name">Name</label>
												<input type="text" name="demo-name" id="demo-name" value="" placeholder="Jane Doe" />
											</div>
											<div class="field half">
												<label for="demo-email">Email</label>
												<input type="email" name="demo-email" id="demo-email" value="" placeholder="jane@untitled.tld" />
											</div>
											<div class="field">
												<label for="demo-category">Category</label>
												<select name="demo-category" id="demo-category">
													<option value="">-</option>
													<option value="1">Manufacturing</option>
													<option value="1">Shipping</option>
													<option value="1">Administration</option>
													<option value="1">Human Resources</option>
												</select>
											</div>
											<div class="field half">
												<input type="radio" id="demo-priority-low" name="demo-priority" checked>
												<label for="demo-priority-low">Low</label>
											</div>
											<div class="field half">
												<input type="radio" id="demo-priority-high" name="demo-priority">
												<label for="demo-priority-high">High</label>
											</div>
											<div class="field half">
												<input type="checkbox" id="demo-copy" name="demo-copy">
												<label for="demo-copy">Email me a copy</label>
											</div>
											<div class="field half">
												<input type="checkbox" id="demo-human" name="demo-human" checked>
												<label for="demo-human">Not a robot</label>
											</div>
											<div class="field">
												<label for="demo-message">Message</label>
												<textarea name="demo-message" id="demo-message" placeholder="Enter your message" rows="6"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send Message" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								</section>

							</article>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">&copy; 2023 by Sourabh Singh. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>
			<script src="../static/assets/js/lazysizes.min.js" async></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.4/mobile-detect.min.js"></script>
			<script>
				var md = new MobileDetect(window.navigator.userAgent);
				console.log(md.mobile())
				if (md.mobile() != null){
					document.getElementById("myInput").style.display = 'none';
					document.getElementById("first_assistant_desc").style.display = 'none';
					document.getElementById("output").style.display = 'none';
					document.getElementById("loading_dots").style.display = 'none';

					var mobile_assistant_desc = document.getElementById("output")
					mobile_assistant_desc.insertAdjacentHTML('afterend','<div id="mobile_assistant_desc"><i>Meet his personal AI assistant in your desktop browser :)</i></div')
				} else {
					document.getElementById("say_hi").style.display = 'none';
				}
			</script>


			<!-- Load TensorFlow.js. This is required to use the USE model. -->
			<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs"> </script>
			<!-- Load the USE model. -->
			<script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/universal-sentence-encoder"> </script>
			

			<!-- Place your code in the script tag below. You can also use an external .js file -->
			<script>
				let modelUSE = {};
				let input;
				let answerDiv;

				// Utils for handling vectors
				// Functions below taken from https://www.npmjs.com/package/@tensorflow-models/universal-sentence-encoder

				// Calculate the dot product of two vector arrays.
				const dotProduct = (xs, ys) => {
				const sum = xs => xs ? xs.reduce((a, b) => a + b, 0) : undefined;

				return xs.length === ys.length ?
					sum(zipWith((a, b) => a * b, xs, ys))
					: undefined;
				}

				// zipWith :: (a -> b -> c) -> [a] -> [b] -> [c]
				const zipWith =
					(f, xs, ys) => {
					const ny = ys.length;
					return (xs.length <= ny ? xs : xs.slice(0, ny))
						.map((x, i) => f(x, ys[i]));
					}
				
				// General Model

				// Given a model, a query (i.e. "What is his current job"), and
				// an array of responses (["He is doing great.", "He is currently working at X."]),
				// returns responses ranked by best reply.
				const process_general = async () => {
					const model = await modelUSE;
					const input = {
						queries: [query.value.toLowerCase()],
						responses: ["He has 3 main strengths: strong-willed, fast-learner, and effective.",
									"His hobbies are watching movies, conducting side-projects, and writing articles.",
									"I can describe him as a highly-motivated Software Engineer who is currently into BlockChain.",
									"Working in the same team with him is awesome and memorable.",
									"This page is Sourabh' personal website :) Feel free to explore this page.",
									"The name of this page's owner is Sourabh Singh. Please call him Sourabh :)",
									"You can call him Sourabh :)",
									"Hi! Welcome to Sourabh Singh's personal website. This website is powered by AI to help you understand more about Sourabh. Simply ask all of your questions to his personal AI assistant (search bar), and it will give you the response :)",
									"You probably don't know sourabh yet. Please feel free to explore this page to know more about him :)",
									"He is currently based in Delhi, India.",
									"He currently lives in Delhi, India.",
									"Age is just a number :)",
									"Personally, he does love Working From Home (WFH) !",
									"He is currently working as an Cloud Backend Data Engineer at Yellow.ai.",
									"He is great at time-management. Everything is scheduled properly in his calendar.",
									"Main strengths: he is a strong-willed, a fast learner, and an effective person.",
									"Strengths: he is a strong-willed, a fast learner, and an effective person.",
									"For more info about his experiences, education history, and languages skill, please see the Resume section below.",
									"For more info about the introduction and summary about sourabh, please see the Intro section below.",
									"He pursued a Batchelor's degree in computer science from Indian Institute of Information Technology guwahati.",
									"The reason he loves blockchain is that he finds it fascinating how it enables secure and transparent transactions with decentralized trust. If you want to have a deeper discussion about this, please reach him out through his LinkedIn.",
									"According to Wikipedia, blockchain is a decentralized digital ledger of transactions that is used to record transactions across many computers in a secure and transparent manner.",
									"The first time he learned about blockchain was during a course on financial technology in his graduate studies.",
									"For more info about his projects, please see the Projects section below.",
									"For more info about his blog and articles, please see the Blog section below.",
									"I can describe sourabh as a highly-motivated software engineer from India who is currently into Blockchain. For more info about him, please check the Intro section below.",
									"He has working experiences in big MNC. For more information, please check the Resume section below.",
									"He learns Blockchain through online courses, competitions, internship, and side-projects. Please check the Projects section below to see all of his side-projects up to now :)",
									"This personal AI assistant is built using the pre-trained USE-lite model for QnA task from TensorFlow-js.",
									"The model used in his personal AI assistant is the pre-trained USE-lite model for QnA task from TensorfFow-js.",
									"The model used in this search bar is the pre-trained USE-lite model for QnA task from TensorFlow-js.",
									"This search bar is sourabh' personal AI assistant. It is built using the pre-trained USE-lite model for QnA task from TensorFlow-js.",
									"His current job is as a Software Developer in samsung",
									"His name is sourabh singh. You can call him sourabh :)",
									"The best description I can give about him: He is a highly-motivated software developer from India who is currently into Blockchain. For more info about him, please check the Intro section below.",
									"His last job is at samsung as a Software Developer.",
									"His day went good. Thanks for asking!",
									"The most memorable internship for sourabh is at SOCIAL TICKLE LLP, He learns a lot from that internship.",
									"What made him unique: he has a great personality (strong-willed, fast-learner, effective) with much direct industrial experiences even though he is a fresh-graduate.",
									"The reasons why he is unique and valuable to any team are because he has a great personality (strong-willed, fast-learner, effective) with much direct industrial experiences even though he is a fresh-graduate.",
									"He is into Blockchain because he found it interesting where one can extract insights from the very unstructured text data. If you want to have a deeper discussion about this, please reach him out through his LinkedIn.",
									"The reason why he loves Data Science (DS) because he found it interesting where one can extract insights from data and moreover can predict what will be happen in the future. He also felt the Mathematics knowledge he got from his unviersity study can be applied directly.",
									"For technical skills, he is familiar with Googling, Python, Git, AWS cloud platform, Pytorch, SQL, Docker, Java, Spring Boot, Hibernate, Spring batch, Redis, Spring cloud, REST APIs, Spring Cloud, Mysql, Kibana, ElasticSearch, Junit, JIRA",
									"For programming language, he is familiar with Python ,Java, Javascript. .",
									"His role model is Elon Musk. He is inspired by Musk because of the great innovation and the contribution to the development of the world.",
									"He is a Vegan! He loves all vegan foods except tomatoes.",
									"One of his hobbies is watching movies, especially Thriller :)",
									"For more info related to salary, please do reach him out directly through his LinkedIn :)",
									"You can contact him directly through his LinkedIn :)",
									"You can reach him out directly through his LinkedIn :)",
									"He has three main considerations when choosing his employer: learning curve, quality of the people, and salary :)",
									"He has three main considerations when choosing his job: learning curve, quality of the people, and salary :)",
									"He has three main considerations on how to choose the right companies: learning curve, quality of the people, and salary :)",
									"He is open to work opportunities in software development field, he would be really happy if it is related to Blockchain :)",
									"He is open to job opportunities in software development field, he would be really happy if it is related to Blockchain :)",
									"He is open to opportunities in software development field, he would be really happy if it is related to Blockchain :)",
									"You can chat with him through his LinkedIn :)",
									"He is a Bachelor in computer science who is graduted from Indian Institute of Information Technology in July 2020."
								]
					};

					const embeddings  = await model.embed(input);
					const embed_query = embeddings['queryEmbedding'].arraySync()[0];
					const embed_responses = embeddings['responseEmbedding'].arraySync();

					let scores = [];
					// compute the dotProduct of each query and response pair.
					for (let i = 0; i < embed_responses.length; i++) {
						scores.push(dotProduct(embed_query, embed_responses[i]));
						if (i == embed_responses.length-1){
							// After finished computing the score, hide the loading dots again
							document.getElementById("loading_dots").style.display = 'none';
						}
					}    

					var max_idx = scores.reduce((iMax, x, i, arr) => x > arr[iMax] ? i : iMax, 0);

					console.log(scores);
					console.log(tf.getBackend());

					if (scores[max_idx] < 10.5) {
						chosen_response = "Sorry, I can't respond to that query for now. Please do reach sourabh out directly through LinkedIn to discuss your query with him :)";
					} else {
						chosen_response = input['responses'][max_idx];
					}

					// Show the output
					answerDiv.style.display = 'inline-block';

					answerDiv.innerHTML = chosen_response;
					output_timeout = setTimeout(function(){ 
						answerDiv.innerHTML = "";
					}, chosen_response.length*55);
				
				};

				// Variable to check it is the first time load or not
				i = 0;
				i_model = 0;

				window.onload = () => {		
					query = document.getElementById('myInput');
					search = document.getElementById('myButton');
					answerDiv  = document.getElementById("output");

					console.log(query.value)
						
					query.addEventListener('keyup', async (event) => {
						if (event.key === 'Enter') {
							if (query.value.toLowerCase()=="hi" || query.value.toLowerCase().includes("hello") || query.value.toLowerCase().includes("hallo") || query.value.toLowerCase().includes("how are you") || query.value.toLowerCase().includes("how's day") || query.value.toLowerCase().includes("what's up") || query.value.toLowerCase().includes("how do you do") || query.value.toLowerCase().includes("morning") || query.value.toLowerCase().includes("evening") || query.value.toLowerCase().includes("afternoon") || query.value.toLowerCase().includes("night")) {
								if (i == 0){
									// Hide output 
									answerDiv.style.display = 'none';
									// Hide Assistant Description and show loading dots for the first query
									document.getElementById("first_assistant_desc").style.display = 'none';
								} else {
									// Hide output & clear timeout output from previous iter
									answerDiv.style.display = 'none';
									clearTimeout(output_timeout);
								}

								i = i+1;
								
								chosen_response = "Thanks for greeting him! sourabh is doing great. Hope you have a wonderful day :)";

								// Show the output
								answerDiv.style.display = 'inline-block';

								answerDiv.innerHTML = chosen_response;
								output_timeout = setTimeout(function(){ 
									answerDiv.innerHTML = "";
								}, chosen_response.length*55);
							} else if (query.value.toLowerCase().includes("where he work") || query.value.toLowerCase().includes("where he works") || query.value.toLowerCase().includes("where is he working")) {
								if (i == 0){
									// Hide output 
									answerDiv.style.display = 'none';
									// Hide Assistant Description and show loading dots for the first query
									document.getElementById("first_assistant_desc").style.display = 'none';
								} else {
									// Hide output & clear timeout output from previous iter
									answerDiv.style.display = 'none';
									clearTimeout(output_timeout);
								}

								i = i+1;
								
								chosen_response = "He is currently working as an Software Developer at Samsung.";

								// Show the output
								answerDiv.style.display = 'inline-block';

								answerDiv.innerHTML = chosen_response;
								output_timeout = setTimeout(function(){ 
									answerDiv.innerHTML = "";
								}, chosen_response.length*55);
							} else if (query.value.toLowerCase().includes("last intern")) {
								if (i == 0){
									// Hide output 
									answerDiv.style.display = 'none';
									// Hide Assistant Description and show loading dots for the first query
									document.getElementById("first_assistant_desc").style.display = 'none';
								} else {
									// Hide output & clear timeout output from previous iter
									answerDiv.style.display = 'none';
									clearTimeout(output_timeout);
								}

								i = i+1;

								chosen_response = "His last internship was at SOCIAL TICKLE LLP as a Backend Intern.";

								// Show the output
								answerDiv.style.display = 'inline-block';

								answerDiv.innerHTML = chosen_response;
								output_timeout = setTimeout(function(){ 
									answerDiv.innerHTML = "";
								}, chosen_response.length*55);
							} else if (query.value.toLowerCase().includes("first intern")) {
								if (i == 0){
									// Hide output 
									answerDiv.style.display = 'none';
									// Hide Assistant Description and show loading dots for the first query
									document.getElementById("first_assistant_desc").style.display = 'none';
								} else {
									// Hide output & clear timeout output from previous iter
									answerDiv.style.display = 'none';
									clearTimeout(output_timeout);
								}

								i = i+1;

								chosen_response = "His first internship was at SOCIAL TICKLE LLP.";

								// Show the output
								answerDiv.style.display = 'inline-block';

								answerDiv.innerHTML = chosen_response;
								output_timeout = setTimeout(function(){ 
									answerDiv.innerHTML = "";
								}, chosen_response.length*55);
							} else {
								console.log(i)
								if (i_model == 0){
									// Hide output 
									answerDiv.style.display = 'none';
									// Hide Assistant Description and show loading dots for the first query
									document.getElementById("first_assistant_desc").style.display = 'none';
									document.getElementById("loading_dots").style.display = 'inline-block';
									modelUSE = use.loadQnA();
								} else {
									// Hide output & clear timeout output from previous iter
									answerDiv.style.display = 'none';
									clearTimeout(output_timeout);
								}

								i_model = i_model+1;

								process_general();
							}
						}
					});
				};

			</script>
	</body>
</html>

